html {
    box-sizing: border-box;
    font-size: 13px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

nav {
    display: flex;
    justify-content: space-between;
    height: 50px;
}

input {
    margin-left: 1rem;
}

#notification {
    background-color: black;
    border: 3px solid #4a4a4a;
    border-radius: 4px;
    color: white;
    padding: 1rem;
    position: absolute;
    right: 30px;
    top: 70px;
}
